<div *ngIf='quotes.length >= 1' class="part2">
  <h1>Your Quotes</h1>
  <div *ngFor='let quote of quotes; let i = index'>
    <div class="quotesDisplay">
      <div *ngIf='highestVotedFunc() === quote.upvote' appHighlight>
        <p><strong>Quote:</strong> "{{quote.quote}}"</p>
      </div>
      <p><strong>Author:</strong> "{{quote.quoteAuthor}}"</p>
      <p><strong>Submitted by:</strong> "{{quote.submittedBy}}"</p>
      <div class="voting">
        <button (click)='newUpvoteFunc(i)' class="upvote">
          <i class="fa fa-thumbs-up"></i>
        </button>
        <p class="voteNums">{{quote.upvote}}</p>

        <button (click)='newDownvoteFunc(i)' class="downvote">
          <i class="fa fa-thumbs-down"></i>
        </button>
        <p class="voteNums">{{quote.downvote}}</p>
        <p class="dateDisplay"><strong>Created:</strong> "{{quote.timePassed | dateAgo}}"</p>
      </div>
    </div>
    <br>
  </div>
</div>
