@import "~bootstrap/dist/css/bootstrap.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  --background: rgba(224,244,255, 0.8);
  --background2: rgba(119,134,153,0.2)
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  font-family: 'Faustina', serif;
}

div.welcomeSection {
  text-align: center;
  font-size: 2rem;
}
div.welcomeSection h1 {
  font-family: 'Comforter', cursive;
  font-size: 5rem;
}

.contain {
  font-size: 2rem;
  background-color: var(--background2);
  border: 0 solid black;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 95%;
  margin: auto;
}

#submitButton {
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  margin-left: 1rem;
}
input.form-control {
  height: 4rem;
  font-size: 1.5rem;
}
textarea.form-control {
  height: 7rem;
  font-size: 1.5rem;
}
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

div.part2 {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
}
div.part2 h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Comforter', cursive;
}

div.contain2 {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  border: 0 solid black;
  border-radius: 0.3rem;
  background-color: rgba(230,230,250, 0.6);
}
div.existingQuotes h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Comforter', cursive;
}
div.existingQuotes p {
  text-shadow: 0rem 0.3rem 0.5rem grey;
}

.quotesDisplay {
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.8rem  grey;
  background-color: rgba(220,220,220, 0.5);
  padding-bottom: 1rem;
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
}

div.voting p.voteNums {
  display: inline;
  width: 5rem;
  border: none;
  background: none;
  pointer-events: none;
  color: #919191;
  font-size: 2rem;
  margin: 0 1rem;
}
div.voting button {
  color: #fff;
  background: none;
  border: none;
  font-size: 3rem;
  padding: 0 1.5rem;
  margin: 1rem 0;
  margin-left: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in;
}
div.voting button.upvote:hover {
  color: green;
}

div.voting button.downvote:hover {
  color: red;
}

.dateDisplay {
  padding-left: 1rem;
}
